/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"); */

#vista-mirador {
  position: relative;
  width: 100%;
  height: 800px; /* Set the desired height */
  margin-top: 40px;
  overflow: hidden;
}

/* since the left navbar is hidden I don't need the padding */
/* .Connect\(WithPlugins\(Workspace\)\)-workspaceWithControlPanel-21 {
  padding-left: 0px !important; 
} */

body {
  background-color: #f6f2f1;
}

.App {
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo {
  color: #891e2e;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.MuiPaper-root {
  color: #f6f2f1 !important;
}

/* Close companion area left sidebar button */
.Connect\(WithPlugins\(CompanionArea\)\)-toggle-56 {
  background-color: #3f444c !important;
}

.mirador-scrollto-scrollable {
  scrollbar-color: #21272b #3f444c;
}

/* sidebar with Mirador logo */
.MuiAppBar-colorDefault {
  background-color: #21272b !important;
  color: #f6f2f1 !important;
}

/* Mirador background under the window */
.Connect\(WithPlugins\(WorkspaceArea\)\)-viewer-1 {
  background: rgb(63 68 76);
}

/* Hide page navigator */
.MuiPaper-root.SizeMe\(WithPlugins\(WindowCanvasNavigationControls\)\)-controls-90.mirador-canvas-nav.SizeMe\(WithPlugins\(WindowCanvasNavigationControls\)\)-canvasNav-88.MuiPaper-elevation0 {
  display: none;
}

/* Hide left navbar with Mirador logo */
/* nav.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionAbsolute.MuiAppBar-colorDefault.WithPlugins\(WorkspaceControlPanel\)-root-5.mirador-workspace-control-panel {
  display: none;
} */

.annotation-item {
  padding-bottom: 8px;
  font-size: 16px;
  border-bottom: 1px solid rgb(104, 104, 104);
}

.annotation-item span span p {
  font-size: 20px;
  font-weight: 800;
  margin: 4px 0;
}

.annotation-metadata {
  padding: 8px;
}

/* HELPER */

.mb-8 {
  margin-bottom: 8px;
}
